[submodule "playlists"]
	path = playlists
	url = https://github.com/studio-dessai/playlists.git
[submodule "_includes/playlists"]
	path = _includes/playlists
	url = https://github.com/studio-dessai/playlists.git
