---
layout: default
---
<div class="post">

  <header class="post-header">
      <h2>{{ page.title }}</h2>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <audio src="https://emit-media-production.s3.amazonaws.com/4eb-d/studio-dessai/{{ page.date | date: "%Y/%m/%d" }}/2200/{{ page.date | date: "%Y%m%d" }}2200_studio-dessai_64.m4a" controls>
    Your browser doesn't seem to be able to play embedded m4a audio.
  </audio>

  <article class="post-content">
  {{ content }}
  </article>
  <a href="https://studio-dessai.github.io">back</a>

</div>
