---
layout: default
---
<div class="post">

  <header class="post-header">
      <h2>{{ page.title }}</h2>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  
  <!--Switch to only show the stream if published in the past 60 days-->
  {% capture nowunix %}{{ site.time | date: '%s' }}{% endcapture %}
  {% assign twomonthunix = nowunix | minus: 5184000 %}
  {% capture postunix %}{{ page.date | date: '%s' }}{% endcapture %}
  {% assign postunix = postunix | minus: 0 %}
  {% if postunix < twomonthunix %}
  <audio src="https://emit-media-production.s3.amazonaws.com/4eb-d/studio-dessai/{{ page.date | date: "%Y/%m/%d" }}/2200/{{ page.date | date: "%Y%m%d" }}2200_studio-dessai_64.m4a" controls>
  Your browser doesn't seem to be able to play embedded m4a audio.
  </audio>
  {% endif %}
  
  {{ content }}
  </article>
  
  
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  <a href="{{ site.baseurl }}/">home</a>
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}


</div>
